html, body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    color:#0f1b2d;
    background-color: #E9F1FA;
    scrollbar-gutter: auto;
}
header{
    background-color: #E9F1FA;
    color:#0f1b2d;
    padding-top: 0.5vw;
    height: 5vw;
    width: 100%;
    position: fixed;
    border-bottom: 0.1vw solid #0f1b2d;
}
#headphones{
    position: fixed;
    margin-left: 95%;
    margin-top: 0.6%;
    width: 3vw;
    height: 3vw;
}
nav{
    position: absolute;
    margin-left: 90%;
}
#text{
    margin-top: 6vw;
    margin-left: 1vw;
    background-color: grey;
    height:auto;
    width: 60%;
}
